<% provide(:title, 'Customer page') %>
<h1>予約一覧</h1>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </nav>
  </div>
</header>

  <head>
  </head>

  <body>
  </body>
