<% provide(:title, 'Planner page') %>
<h1><%=current_planner.name if current_planner.present?%>さんのマイページ</h1>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <li>
        <%= link_to "Log out", planner_logout_path, method: :delete %>
      </li>
    </nav>
  </div>
</header>
<div class="center">
<%= link_to "面談可能な日時を登録する", new_reservable_table_path, class: "btn btn-lg btn-primary" %>
</div>
