<% provide(:title, 'Customer page') %>
<h1>予約可能時間の選択</h1>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <li>
        <%= link_to "Log out", planner_logout_path, method: :delete %>
      </li>
    </nav>
  </div>
</header>
