<!-- Plannerの登録エラー時にエラーメッセージを表示する -->
<% if @planner.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@planner.errors.count, "error") %>.
    </div>
    <ul>
    <% @planner.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
