<!DOCTYPE html>
  <head>
    <title>ホーム</title>
  </head>
  <body>
    <div class="homepage_title">
      <h1>FPマッチングサービス</h1>
      <p class="text-center">FP（ファイナンシャルプランナー）にお金の相談をしてみませんか？</p>
    </div>
    <div class="center jumbotron">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-sm-6">
              <p class=text-center>お客様はこちらから</p>
              <%= link_to "お客様用アカウント登録ページ", 'customers/new', class: "btn btn-lg btn-primary" %>
              <br>
              <br>
              <%= link_to "お客様用ログインページ", 'sessions/new', class: "btn btn-lg btn-primary" %>
              <br>
              <br>
            </div>
            <div class="col-sm-6">
              <p class=text-center>FPの方はこちらから</p>
              <%= link_to "FP用アカウント登録ページ", 'planners/new', class: "btn btn-lg btn-primary" %>
              <br>
              <br>
              <%= link_to "FP用ログインページ", 'planner_sessions/new', class: "btn btn-lg btn-primary" %>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
