<!DOCTYPE html>
<html>
  <head>
    <title>ホーム</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>FPマッチングサービス</h1>
      <h2>
        FP（ファイナンシャルプランナー）にお金の相談をしてみませんか？
      </h2>

      <%= link_to "お客様用アカウント登録ページ", 'customers/new', class: "btn btn-lg btn-primary" %>
      <%= link_to "FP用アカウント登録ページ", 'planners/new', class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
